<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Mario Di Vece</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link{% if page.area == 'blog' %} active{% endif %}" href="/blog"><i class="fa fa-pencil"></i> Geek Notes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if page.area == 'videos' %} active{% endif %}" href="/videos"><i class="fa fa-video-camera"></i> Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link{% if page.area == 'interview' %} active{% endif %}" href="/interview"><i class="fa fa-comments"></i> An Interview</a>
                </li>
                <li class="nav-item{% if page.area == 'home' %} active{% endif %}">
                    <a class="nav-link" href="/"><i class="fa fa-info-circle"></i> About Me<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>
